trigger:
- main

stages:
- stage: BuildAndPublish
  displayName: Build and Publish to Azure Artifacts
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '22.x'
      displayName: 'Use Node.js'

    - task: Npm@1
      inputs:
        command: 'install'
      displayName: 'Install dependencies'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run build'
      displayName: 'Build package'

    - task: Npm@1
      inputs:
        command: 'publish'
        publishRegistry: 'useFeed'
        publishFeed: '5a34020f-7d20-42dd-9461-98536ac11ff7'
      displayName: 'Publish to Azure Artifacts'
