trigger:
- main

stages:
- stage: BuildAndPublish
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'

    - task: Npm@1
      inputs:
        command: 'install'

    - script: npm version patch --no-git-tag-version
      displayName: 'Increment version'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run build'

    - task: Npm@1
      inputs:
        command: 'publish'
        publishRegistry: 'useFeed'
        publishFeed: '5a34020f-7d20-42dd-9461-98536ac11ff7'
