trigger:
- main

stages:
- stage: BuildAndPublish
  displayName: Build and Publish to Azure Artifacts
  jobs:
  - job: Build
    displayName: Build and Publish npm Package
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '22.x'
      displayName: 'Use Node.js'

    # Authenticate npm with Azure Artifacts feed
    - task: NpmAuthenticate@0
      inputs:
        workingFile: .npmrc
      displayName: 'Authenticate with Azure Artifacts'

    - task: Npm@1
      inputs:
        command: 'install'
      displayName: 'Install dependencies'

    # Auto-increment version (VERY IMPORTANT)
    - script: |
        npm version patch --no-git-tag-version
      displayName: 'Increment package version'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run build'
      displayName: 'Build package'

    - task: Npm@1
      inputs:
        command: 'publish'
        publishRegistry: 'useFeed'
        publishFeed: '5a34020f-7d20-42dd-9461-98536ac11ff7'
      displayName: 'Publish to Azure Artifacts'
